<div class="under-common-sec flex">
  <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-secimg01.jpg" alt=""></div>
  <div class="img-box obj-fit"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/top-secimg02.jpg" alt=""></div>
</div>