<div class="sec03">
  <div class="link_insta">
    <div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-insta.svg" alt="">Follow us!</a></div>
  </div>
  <div class="link_line">
    <div><a href="#"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-line.svg" alt="">公式LINE</a></div>
  </div>
</div>