<footer class="footer">
  <div class="inner">
    <div class="flex">
      <div class="column column01">
        <div class="logo img-box"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/logo.png" alt=""></div>
        <p class="u-pc">
          〒900-0013<br>
          沖縄県那覇市牧志3-2-43(事務所・工場)
        </p>
        <p class="u-pc">
          TEL:098-863-1158<br>
          FAX:098-894-3822
        </p>
      </div>
      <div class="flex">
        <div class="column column02">
          <nav>
            <ul>
              <li><a href="{{ routes.root_url }}">TOP</a></li>
              <li><a href="/pages/about/">みき屋について</a></li>
              <li><a href="/collections/all/">商品一覧</a></li>
              <li><a href="/pages/faq/">よくあるご質問</a></li>
              <li><a href="/pages/contact-form/">お問い合わせ</a></li>
            </ul>
          </nav>
        </div>
        <div class="column column03">
          <nav>
            <ul>
              <div class="col03-nav01">
                <li><a href="/account/"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-login.svg" alt="">ログイン</a></li>
                <li><a href="/cart/"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-cart.svg" alt="">カート</a></li>
              </div>
              <div class="col03-nav02">
                <li><a href="/pages/company/">会社概要</a></li>
                <li><a href="/pages/term/">特定商取引法に基づく表記</a></li>
                <li><a href="/pages/policy/">プライバシポリシー</a></li>
              </div>
            </ul>
          </nav>
        </div>
      </div>
      <div class="sp-address u-sp">
        <p>
          〒900-0013<br>
          沖縄県那覇市牧志3-2-43(事務所・工場)<br>
          TEL:098-863-1158 / FAX:098-894-3822
        </p>
      </div>
    </div><!-- /.flex -->
    <p class="copywrite">© Mikiya. All rights reserved.</p>
  </div>
</footer>