<div class="under-mv obj-fit">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" alt="">
  </picture>
  <div class="ttl">
    <h2>よくあるご質問</h2>
    <p class="sub-ttl">FAQ</p>
  </div><!-- /.ttl -->
  <div class="ashirai">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai_sp.svg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai.svg" alt="">
    </picture>
  </div>
</div><!-- /.under-mv-->

<section class="p-faq">
  <div class="inner">

    <div class="anker_wrap flex">
      <div class="box fadeIn">
        <a href="/pages/faq#order"><p>注文・支払いについて</p></a>
      </div>
      <div class="box fadeIn">
        <a href="/pages/faq#shipping"><p>配送・送料について</p></a>
      </div>
      <div class="box fadeIn">
        <a href="/pages/faq#return"><p>返品・交換について</p></a>
      </div>
    </div>

    <div id="order" class="anker-point">
      <div class="block">
        <h2>ご注文・お支払いについて</h2>
        <div class="qa-list mts">
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">電話やFAXで注文できますか？</dt>
            <dd>
              <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">お支払い方法は何がありますか？</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">注文してからどれくらいで発送されますか？</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">注文内容の変更/キャンセルをしたいです。</dt>
            <dd>
              <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">注文したのですが、注文確認のメールが届かないです。</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
        </div><!-- /.qa-list -->
      </div><!-- /.block -->
    </div>

    <div id="shipping" class="anker-point">
      <div class="block">
        <h2>配送・送料について</h2>
        <div class="qa-list mts">
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">送料はいくらですか？</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">日付指定できますか？</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">複数の配送先に送りたいのですが、できますか？</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">配送の状況はどこから確認できますか？</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">海外への発送は可能ですか？</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">別々に注文した商品を同梱できますか？</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
        </div><!-- /.qa-list -->
      </div><!-- /.block -->
    </div>

    <div id="return" class="anker-point">
      <div class="block">
        <h2>返品・交換について</h2>
        <div class="qa-list mts">
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">商品を返品・交換したいです。</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
          <dl class="qa">
            <dt><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/icon-question.svg" alt="">届いた商品に商品に不備がありました。</dt>
            <dd>
              <p>
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </dd>
          </dl>
        </div><!-- /.qa-list -->
      </div><!-- /.block -->
    </div>

  </div><!-- /.inner -->
</section><!-- /.p-itemlis -->