<div class="under-mv obj-fit">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" alt="">
  </picture>
  <div class="ttl">
    <h2>特定商取引法に基づく表記</h2>
    <p class="sub-ttl">Terms</p>
  </div><!-- /.ttl -->
  <div class="ashirai">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai_sp.svg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai.svg" alt="">
    </picture>
  </div>
</div><!-- /.under-mv-->

<section class="p-term">
  <div class="inner">

    <table>
      <tr>
        <th>販売業者</th>
        <td>合同会社 みき屋</td>
      </tr>
      <tr>
        <th>運営統括責任者</th>
        <td>大城 伸也</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒900-0013<br class="u-sp">沖縄県那覇市牧志3-2-43(事務所・工場)</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>
          098-863-1158
        </td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-894-3822</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>mikiyaichiba@gmail.com</td>
      </tr>
      <tr>
        <th>取扱商品</th>
        <td>テキストテキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>各商品ページをご参照ください。</td>
      </tr>
      <tr>
        <th>取扱商品</th>
        <td>テキストテキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th>商品代金以外の<br>必要料金</th>
        <td>テキストテキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th>送料について</th>
        <td>
          テキストテキストテキストテキストテキスト<br>
          テキストテキストテキストテキストテキスト<br>
          テキストテキストテキストテキストテキスト
        </td>
      </tr>
      <tr>
        <th>申し込みの有効期限</th>
        <td>原則、受注確認（受注確認の為の自動送信メール発信）後、〇〇日間とします。</td>
      </tr>
      <tr>
        <th>不良品</th>
        <td>
          商品が届きましたら直ちに内容のご確認をお願いいたします。
          万が一不良品の疑いがございましたら、直ちにご連絡ください。
          商品到着後のお客様のご都合による返品・交換は、原則としてお受けしておりません。
          不良品の場合は、商品到着から1週間以内の申し出で返品対応いたします。</td>
      </tr>
      <tr>
        <th>販売数量</th>
        <td>特に指定はございません（商品によって設定あり）</td>
      </tr>
      <tr>
        <th>引き渡し時期</th>
        <td>
          決済完了後（代金引換を除く）、○○営業日以内(土日祝日を除く)に発送いたします。<br>
          天候不順・配送業者の都合・その他何らかの理由により 遅延する場合はメール等でお知らせいたします。
        </td>
      </tr>
      <tr>
        <th>お支払い方法</th>
        <td>テキストテキストテキストテキストテキストテキスト</td>
      </tr>
      <tr>
        <th>返品・交換について</th>
        <td>
          ご注文確定後のお客様都合によるキャンセル・返品・交換・ご注文内容の変更は、原則承っておりません。<br>
          商品の品質につきましては万全を期しておりますが、万が一、ご注文商品と異なる商品が届いた場合や、配送中などになんらかの不備が生じた場合は速やかに代替品などの手配を取らせていただきます。<br>
          ご注文商品と異なる商品や不良品をお届けした場合、商品到着後7日以内に下記メールアドレスまたはお電話にてご連絡いただきますようお願い申し上げます。<br>
          mikiyaichiba@gmail.com<br>
          098-863-1158<br>
          営業時間：09:30～18:30<br>
          商品の汚損・破損等、当店の不手際による返品の場合の送料は当店にて負担いたします。
        </td>
      </tr>
    </table>

  </div><!-- /.inner -->
</section><!-- /.p-itemlis -->