<div class="under-mv obj-fit">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" alt="">
  </picture>
  <div class="ttl">
    <h2>会社概要</h2>
    <p class="sub-ttl">COMPANY</p>
  </div><!-- /.ttl -->
  <div class="ashirai">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai_sp.svg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai.svg" alt="">
    </picture>
  </div>
</div><!-- /.under-mv-->

<section class="p-company">
  <div class="inner">

    <table>
      <tr>
        <th>会社名</th>
        <td>合同会社 みき屋</td>
      </tr>
      <tr>
        <th>代表者名</th>
        <td>大城 伸也</td>
      </tr>
      <tr>
        <th>設立</th>
        <td>テキストテキストテキスト</td>
      </tr>
      <tr>
        <th>資本金</th>
        <td>テキストテキストテキスト</td>
      </tr>
      <tr>
        <th>事業内容</th>
        <td>テキストテキストテキスト</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>〒900-0013<br class="u-sp">沖縄県那覇市牧志3-2-43(事務所・工場)</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>
          098-863-1158
        </td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>098-894-3822</td>
      </tr>
      <tr>
        <th>営業時間</th>
        <td>09:30~18:30</td>
      </tr>
      <tr>
        <th>定休日</th>
        <td>日曜日</td>
      </tr>
    </table>

  </div><!-- /.inner -->
</section><!-- /.p-itemlis -->

{% render 'inc-common02' %}

{% render 'inc-common01' %}