<div class="under-mv obj-fit">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-under_mv.jpg" alt="">
  </picture>
  <div class="ttl">
    <h2>海ぶどう市場について</h2>
    <p class="sub-ttl">ABOUT US</p>
  </div><!-- /.ttl -->
  <div class="ashirai">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai_sp.svg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/under-mv_ashirai.svg" alt="">
    </picture>
  </div>
</div><!-- /.under-mv-->

<section class="p-about_wrap01">
  <div class="inner">
    <p class="sub-ttl fadeIn">About</p>
    <h2 class="fadeIn">新選が命！<br>プロから支持される、<br class="u-sp">手作りにこだわった海ぶどう</h2>
    <div class="block flex">
      <div class="left">
        <p class="fadeIn">
          プロも納得の品質は海ぶどう生産者と自社での品質のダブルチェック、<br>
          さらに梱包、配送時間等にも細かく気を使い最高品質の海ぶどうをお安く提供しています。<br>
          新鮮な海ぶどうを収穫したその日に発送します！
        </p>
        <div class="img-box fadeIn u-pc"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img02.jpg" alt=""></div><!-- /.img-box-->
      </div><!-- /.left -->
      <div class="right">
        <div class="img-box obj-fit fadeIn u-sp"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img02.jpg" alt=""></div><!-- /.img-box-->
        <div class="img-box obj-fit fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img01.jpg" alt=""></div><!-- /.img-box -->
      </div><!-- /.right -->
    </div>
  </div><!-- /.inner -->
</section><!-- /.p-about_wrap01 -->

<section class="p-abot_wrap02">
  <div class="inner">

    <div class="head-ttl fadeIn">
      <h2>手作りへのこだわり</h2>
      <p class="sub-ttl">Features</p>
    </div><!-- /.head-ttl -->

    <div class="block">
      <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img03.png" alt=""></div>
      <div class="txt-box fadeIn">
        <h3>知恵と経験を活かして<br>養殖場も餌もすべて手作り。</h3>
        <p>
          現在漁協などをほとんど通さずに独自のルートにて販売しております。現在沖縄県内はじめ県外からの需要が多くなり、大きな漁協などでは何億ものお金をかけています。そうした中で合同会社みき屋の3箇所ある養殖場はいけすや選別場、屋根もすべて手作りです。
        </p>
      </div><!-- /.txt-box -->
    </div><!-- /.block-->

    <div class="block reverse">
      <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img04.png" alt=""></div>
      <div class="txt-box fadeIn">
        <h3>最適な水質と<br>こだわりの餌を使用</h3>
        <p>
          お金を掛ければ楽ができますが、個人のいち生産者には莫大な資金はありません。<br>
          その分今まで培った知恵と経験があります。新鮮な海水は目の前のきれいな海からポンプで引き込み水温を最適な温度に保つとともに水質を保っています。なんと餌は真鯛の養殖に使われる餌に独自のブレンドを加えたものを使用しています。
        </p>
      </div><!-- /.txt-box -->
    </div><!-- /.block-->

    <div class="img-box tri01">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/ashirai-tri02_sp.svg" media="(max-width: 769px)">
        <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/ashirai-tri02.svg" alt="">
      </picture>
    </div>
    <div class="img-box tri02">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/ashirai-tri03_sp.svg" media="(max-width: 769px)">
        <img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/ashirai-tri03.svg" alt="">
      </picture>
    </div>

  </div>
</section><!-- /.p-abot_wrap02 -->

<section class="p-abot_wrap03">
  <div class="inner">
    <div class="head-ttl fadeIn">
      <h2>美味しい海ぶどうの秘密</h2>
      <p class="sub-ttl">The Secret</p>
    </div><!-- /.head-ttl -->

    <div class="u-pc">
      <div class="block flex">
        <div class="left">
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img05.png" alt=""></div>
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img06.png" alt=""></div>
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img07.png" alt=""></div>
          <div class="ashirai_wave"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/ashirai01.svg" alt=""></div>
        </div><!-- /.left -->
        <div class="right fadeIn">
          <h3><span>01</span>1日に何度も自然光を取り入れる</h3>
          <p>
            海ぶどうづくりにとても重要なのが「自然の光」です。<br>
            自然の光をたっぷりと注ぎ込ぎ、海水温度の調節をしています。電気でもできますが、なるべく自然の光を使って大切に育てています。<br>
            養殖池の上には手作りの遮光シートが3重に重なっており、天気や海水温などを見ながら1日に何度も開閉することで調節しています。また、日差しだけではなく水深も調節しながら温度と光の管理を行っています。
          </p>
        </div>
      </div><!-- /.block -->

      <div class="block flex reverse">
        <div class="left">
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img08.png" alt=""></div>
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img09.png" alt=""></div>
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img10.png" alt=""></div>
          <div class="ashirai_wave"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/ashirai01.svg" alt=""></div>
        </div><!-- /.left -->
        <div class="right fadeIn">
          <h3><span>02</span>質を求めるから妥協は一切しない。</h3>
          <p>
            当店でも「茎付き」の商品は取扱っていますがこれはあくまでも「B級品」です。<br>
            最近では売りやすく仕分けの手間が省ける「茎付き」をたくさん生産しているところもありますが、当店と仕入れをしている生産者はあまり力を入れておりません。 通常海ぶどうは、母草と呼ばれるものを植え付け約2週間から2ヶ月ほどかけて成長させます。茎の太く育った良い母草から粒の大きな海ぶどうが育ちます。
          </p>
        </div>
      </div><!-- /.block -->

      <div class="block flex">
        <div class="left">
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img11.png" alt=""></div>
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img12.png" alt=""></div>
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img13.png" alt=""></div>
          <div class="ashirai_wave"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/ashirai01.svg" alt=""></div>
        </div><!-- /.left -->
        <div class="right fadeIn">
          <h3><span>03</span>厳選した海ぶどうをご提供</h3>
          <p>
            1つのいけすから1回の収穫で約120kg採れ、さらに選別し約80kgの製品ができます。残ったものの中から茎の太いものを母草として使い、余った部分が「茎付き」となります。母草は2回が限度でそれ以降は質が悪くなるので、みき屋では使っていません。本来それほど量は採れませんが、現在は「茎付き」がたくさん出回っています。
          </p>
        </div>
      </div><!-- /.block -->

      <div class="block flex reverse">
        <div class="left">
          <div class="img-box fadeIn"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img14.png" alt=""></div>
          <div class="ashirai_wave"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/ashirai01.svg" alt=""></div>
        </div><!-- /.left -->
        <div class="right fadeIn">
          <h3><span>04</span>質の高い海ぶどうを求めて</h3>
          <p>
            海ぶどうは生き物です。365日毎日成長するので目と手が離せないのが苦労する点です。質の高い海ぶどうを作る為には、様々な費用がかかりますが、合同会社みき屋はポリシーと情熱をもって海ぶどうを育てています。
          </p>
        </div>
      </div><!-- /.block -->
    </div><!-- /.u-pc -->

    <div class="u-sp">
      <div class="p-about_swiper">
        <div class="swiper-wrapper">

          <div class="block swiper-slide block01">
              <div class="img-block">
                <div class="img-box obj-fit img01"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img05.png" alt=""></div>
                <div class="img-box obj-fit img02"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img06.png" alt=""></div>
              </div>
              <div class="txt-block">
                <h3>1日に何度も自然光を取り入れる</h3>
                <p>
                  海ぶどうづくりにとても重要なのが「自然の光」です。<br>
                  自然の光をたっぷりと注ぎ込ぎ、海水温度の調節をしています。電気でもできますが、なるべく自然の光を使って大切に育てています。<br>
                  養殖池の上には手作りの遮光シートが3重に重なっており、天気や海水温などを見ながら1日に何度も開閉することで調節しています。また、日差しだけではなく水深も調節しながら温度と光の管理を行っています。
                </p>
              </div>
          </div><!-- /.block -->
          <div class="block swiper-slide block02">
              <div class="img-block">
                <div class="img-box obj-fit img01"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img07.png" alt=""></div>
                <div class="img-box obj-fit img02"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img11.png" alt=""></div>
              </div>
              <div class="txt-block">
                <h3>質を求めるから妥協は一切しない。</h3>
                <p>
                  当店でも「茎付き」の商品は取扱っていますがこれはあくまでも「B級品」です。<br>
                  最近では売りやすく仕分けの手間が省ける「茎付き」をたくさん生産しているところもありますが、当店と仕入れをしている生産者はあまり力を入れておりません。 通常海ぶどうは、母草と呼ばれるものを植え付け約2週間から2ヶ月ほどかけて成長させます。茎の太く育った良い母草から粒の大きな海ぶどうが育ちます。
                </p>
              </div>
          </div><!-- /.block -->
          <div class="block swiper-slide block03">
              <div class="img-block">
                <div class="img-box obj-fit img01"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img10.png" alt=""></div>
                <div class="img-box obj-fit img02"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img08.png" alt=""></div>
              </div>
              <div class="txt-block">
                <h3>厳選した海ぶどうをご提供</h3>
                <p>
                  1つのいけすから1回の収穫で約120kg採れ、さらに選別し約80kgの製品ができます。残ったものの中から茎の太いものを母草として使い、余った部分が「茎付き」となります。母草は2回が限度でそれ以降は質が悪くなるので、みき屋では使っていません。本来それほど量は採れませんが、現在は「茎付き」がたくさん出回っています。
                </p>
              </div>
          </div><!-- /.block -->
          <div class="block swiper-slide block04">
              <div class="img-block">
                <div class="img-box obj-fit img01"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img14.png" alt=""></div>
                <div class="img-box obj-fit img02"><img src="https://cdn.shopify.com/s/files/1/0602/6978/9270/files/p-about_img13.png" alt=""></div>
              </div>
              <div class="txt-block">
                <h3>質の高い海ぶどうを求めて</h3>
                <p>
                  海ぶどうは生き物です。365日毎日成長するので目と手が離せないのが苦労する点です。質の高い海ぶどうを作る為には、様々な費用がかかりますが、合同会社みき屋はポリシーと情熱をもって海ぶどうを育てています。
                </p>
              </div>
          </div><!-- /.block -->

        </div>

        <div class="swiper-scrollbar"></div>
      </div>
    </div><!-- /.u-sp -->

  </div>
</section><!-- /.p-abot_wrap02 -->


{% render 'inc-common02' %}

{% render 'inc-common01' %}